<!DOCTYPE html>
<html>
<head>
	<link rel="manifest" href="/manifest.json">
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
	<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "ae23d66e-b46c-453b-9b9c-a1750b8d33ff",
      autoRegister: false,
      notifyButton: {
        enable: true /* Set to false to hide */
      }
    }]);
  </script>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  {% block content %}{% endblock %}
</body>
</html>
